<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="adk-platform-tools" version="29.0.2" targetFramework="net472" />
  <package id="Camalot.Common" version="1.0.5937.17275" targetFramework="net472" />
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net472" />
  <package id="Managed.Adb" version="2.0.131.13916" targetFramework="net472" />
  <package id="morelinq" version="1.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="5.0.1" targetFramework="net472" />
  <package id="runtime.win7-x64.vcruntime140" version="14.00.24406.0" targetFramework="net472" />
  <package id="runtime.win7-x86.vcruntime140" version="14.00.24406.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="87.0.4280.8800" targetFramework="net472" />
  <package id="SQLite" version="3.13.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.112.2" targetFramework="net472" />
</packages>